@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab|Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Lato|Roboto+Slab&display=swap');

html{
  scroll-behavior: smooth;
}

/*
font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Roboto Slab', serif;
*/
body
{
  background-color: hsl(218, 28%, 13%)!important;
  color: white!important;
}

.full-width-image {
  position: relative;
  padding-left: 30%;
  margin: auto;
  height: 20% !important;
}

.full-width-image img {
  width: 50%;
  height: 20% !important;
  padding: 40px 0;
}

.card-title
{
  color: red!important;
}

.card-text
{
  color: black !important;
}

.download-button
{
  margin: 4% 2%;
}

.cardo1
{
  padding : 5% 4% !important;
  margin: auto !important;
}


.cardo
{
  padding : 2% 2% !important;
  margin: auto !important;
}

h2
{
font-family: 'Roboto Slab', serif;
}


#sticky-footer {
  flex-shrink: none;
}

p
{
  font-family: 'Lato', sans-serif;
}

.heading
{
  padding-top: 15%;
  text-align: center;
}

.bgimage {
  width:100%;
  height:100%;
  background: url('bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  /* background-attachment: fixed; */
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.img-thumbnail
{
  height: 20% !important;
  width: auto !important;
}

.md1
{
  display: flex !important;
  flex-wrap: nowrap !important;
}

.dropdown-divider
{
  border-color: white!important;
  font-size: 40px;
  opacity: 4;
}

h1 ,h3
{
  font-family: 'Be Vietnam', sans-serif;
}

.carousel-caption
{
  font-weight: 900;
  color: black !important;
  background-color: rgba(255, 250, 0, 0.6) !important;
  top: auto !important;
bottom: 40% !important;
margin:auto;
width: 50% !important;
}

p
{
font-family: 'PT Serif', serif;
}

.caroimg
{
  height: auto;
  width: auto;
}

.dropdown-menu
{
  max-height: 300px !important;
  border-radius: 4% !important;
}

.bgimage
{
  padding-top: 70px !important;
}

.napo
{
  position: fixed !important;
  width: 100% !important;
  z-index: 19;
}

.nav-link
{
  color: white !important;
}
.dropdown-menu {visibility: hidden!important;opacity:0!important;transform: translateY(50px)!important;transition:.5s ease all!important;}
.dropdown-menu.show {visibility: visible!important;opacity:1!important;transform: translateY(0px)!important;transition:.5s ease all!important; background-color: orange !important;}

.logo
{
  width: 200px;
  height: 140px;
}


.logofoot
{
  width: 150px;
  height: 100px;
}

.dropdown
{
  margin: 0 5%;
}

.tw
{
  color:orange !important;
}

.dropdown-item
{
  margin-top: 1%;
  color:white !important;
}

.dropdown-item:hover
{
  margin-top: 1%;
  color:black !important;
}





.jumbotron
{
  margin-left: 14% !important;
  width: 70% !important;
  background-color: hsl(217, 28%, 25%) !important;
}

.fgcap
{
  color: orange !important;
  font-weight: 600;
}


/* .cattoimg
{
  width: 50%;
  height: 50%;
} */

.para
{
  width: 80%;
}

.fas
{
  color: orange;
  font-size: 52px;
  padding: 6%;
  margin: 5%;
  background-color: black;
  border-radius: 50%;
}



p.succ
{
  padding: 2% !important;
  width: 70% !important;
}

.thumbo
{
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  margin: 6%;
}

.succ-story
{
  width: auto !important;
  height: 200px !important;
}

.card-header
{
  background-color: black !important;
}

.thumbmenu
{
  height: 30%;
  width: auto;
}

@media only screen (max-width : 300px)
{
  .nav-link
  {
    display: flex !important;
  }
}
@media only screen and (max-width:800px)
{
  .md1
  {
    display: grid !important;
    text-align: center !important;
  }
  .ml-auto, .mx-auto {
    margin-left: auto!important;
    text-align: right !important;
}
.caroimg
{
  height: 200px !important;
  width: auto;
}
.napo
{
  position: static !important;
}

.img-thumbnail
{
  width: 100px !important;
  height: 100px !important;
}

.bgimage
{
  padding-top: 1px !important;
}
.dropdown-menu
{
  max-height: 100% !important;
}
}

/*====================
	Footer
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*====================
	Widgets
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
